@model IPagedList<Kategori>
@{
    ViewBag.Title = "Kategoriler";
}
<a href="/Kategori/KategoriEkle/" class="btn btn-primary">Yeni Kategori</a>
<div id="dvKategoriListesi">
    @Html.Partial("_KategoriListesi",Model)
</div>