@model Kategori
@{
    ViewBag.Title = "Yeni Kategori";
}
<h2>Yeni Kategori</h2>
<form method="post" class="form-group">
    <label for="KategoriAd" class="mb-1 font-weight-bold">Kategori:</label>
    <input type="text" autofocus id="KategoriAd" name="KategoriAd" class="form-control mb-2"/>
    <button class="btn btn-outline-success">Kaydet</button>
</form>