@model Departmanlar
@{
    ViewBag.Title = "Yeni Departman";
}
<h2>Yeni Departman</h2>
<form method="post" class="form-group">
    <label for="DepartmanAd" class="mb-1 font-weight-bold">Departman:</label>
    <input type="text" autofocus id="DepartmanAd" name="DepartmanAd" class="form-control mb-2" />
    <button class="btn btn-outline-success">Kaydet</button>
</form>