@model List<Yapilacaklar>
@{
    ViewBag.Title = "Yapılacaklar Listesi";
}
<link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="ion ion-clipboard mr-1"></i>
            Yapılacaklar Listesi
        </h3>

        <div class="card-tools">
            <ul class="pagination pagination-sm">
                <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <ul class="todo-list" data-widget="todo-list">
            @{
                int i = 1;
                foreach (var item in Model)
                {
                    <li>
                        <!-- drag handle -->
                        <span class="handle">
                            <i class="fas fa-ellipsis-v"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </span>
                        <!-- checkbox -->
                        <div class="icheck-primary d-inline ml-2">
                            <input type="checkbox" value="" name="todo+@i" id="todoCheck+@i">
                            <label for="todoCheck+@i"></label>
                        </div>
                        <!-- todo text -->
                        <span class="text">@item.Baslik</span>
                        <!-- Emphasis label -->
                        <small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small>
                    </li>
                    i++;
                }
            }
        </ul>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <button type="button" class="btn btn-info float-right"><i class="fas fa-plus"></i> Yeni Not</button>
    </div>
</div>
<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script src="~/AdminLTE-3.0.4/plugins/jquery-ui/jquery-ui.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/AdminLTE-3.0.4/dist/js/adminlte.js"></script>