<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Yönetici Giriş Formu</h3>
        <div class="clear"></div>
        <div class="login-agileits-top">
            <form action="/Login/AdminGiris" method="post">
                <input type="text" class="name" name="KullaniciAd" Placeholder="Kullanıcı Adı" required="" />
                <input type="password" class="password" name="Sifre" Placeholder="********" required="" />
                <input type="submit" value="Oturum Aç">
            </form>
        </div>
    </div>
</div>
